/* Global */

@font-face {
    font-family: 'S-CoreDream-9Black';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    /* color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-orange: #FB500A;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #3055ED;
    --color-yellow: #fff7d1;
    --color-gold: #feb546;
    --color-black: #000000;

    /* font-size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* size */
    --size-border-radius: 4px;

    /* Animation */
    --animation-duration: 300ms;
}

/* Universal tags */
* {
    box-sizing: border-box;
}

body {
    font-family: 'S-CoreDream-9Black';
    margin: 0;
    cursor: default;
    overflow-x: hidden;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
}

a {
    text-decoration: none;
    color: var(--color-white);
}

ul {
    list-style: none;
    padding-left: 0;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0;
}

::-moz-selection {
    background: var(--color-blue);
    color: #fff;
}

::selection {
    background: var(--color-orange);
    color: #fff;
}

/* Typography */

h1 {
    font-size: var(--font-large);
    color: var(--color-white);
    margin: 16px 0px;
}

h2 {
    font-family: 'S-CoreDream-6Bold';
    font-size: var(--font-medium);
    color: var(--color-white);
    margin: 8px 0;
}

h3 {
    font-family: 'S-CoreDream-6Bold';
    font-size: var(--font-regular);
    color: var(--color-white);
    margin: 8px 0;
}

p {
    font-family: 'S-CoreDream-5Medium';
    font-size: var(--font-regular);
    color: var(--color-white);
    margin: 4px 0;
}

/* Navbar */
#navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    padding: 16px;
    color: var(--color-white);
    transition: all var(--animation-duration) ease-in-out;
    z-index: 9999;
}

#navbar.navbar--dark {
    background-color: var(--color-black);
    padding: 8px;
}

.navbar__logo {
    font-size: var(--font-medium);
}

.navbar__menu {
    display: flex;
}

.navbar__menu__item {
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
    border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
    border: 1px solid var(--color-white);
    background-color: var(--color-orange);
}

.navbar__toggle-btn {
    display: none;
    position: absolute;
    top: 24px;
    right: 32px;
    font-size: 24px;
    color: var(--color-white);
}

/* Home */
#home {
    padding: 150px 40px 100px;
    text-align: center;
}

.home__avatar {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
    color: var(--color-white);
}

.home__contact {
    font-size: var(--font-regular);
    font-family: 'S-CoreDream-6Bold';
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-white);
    color: var(--color-white);
}

.home__contact:hover {
    background-color: var(--color-orange);
}

/* section common */

.section {
    padding: 100px 50px 50px;
    text-align: center;
    margin: auto;
}

.section__container {
    max-width: 1200px;
    margin: auto;
}

/* About */

#about>h1 {
    color: var(--color-light-white);
}

#about>p {
    color: var(--color-light-white);
}

.about__majors {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.major__icon {
    width: 170px;
    height: 170px;
    line-height: 170px;
    font-size: 70px;
    margin: auto;
    color: var(--color-light-white);
    border: 1px solid var(--color-light-white);
    border-radius: 50%;
    margin-bottom: 16px;
    transition: all var(--animation-duration) ease;
}

.major__icon i {
    transition: all var(--animation-duration) ease;
}

.major__icon:hover i {
    color: var(--color-orange);
    transform: rotate(-30deg) scale(1.1);
}

.major__icon:hover {
    border: 1px solid var(--color-orange);
}

.major__title,
.major__description {
    color: var(--color-light-white);
}

.major__description {
    font-family: 'S-CoreDream-5Medium';
    font-size: var(--font-small);
}

.job {
    display: flex;
    align-items: center;
}

.job img {
    width: 50%;
}

.job__description {
    margin: 0 16px;
    text-align: left;
}

.job__name,
.job__period {
    color: var(--color-light-white);
}

.job__name {
    font-size: var(--font-small);
}

.job__period {
    font-size: var(--font-micro);
}

/* Skill */

#skills {
    /* background-color: var(--color-yellow); */
    color: var(--color-light-white);
}

.skillset {
    display: flex;
    background-color: rgba(0, 0, 0, 0.246);
    box-shadow: 0px -0px 5px 5px rgba(255, 230, 0, 0.828);
    margin: 20px 0;
}

.skillset__title {
    color: var(--color-white);
}

.skillset__left {
    flex-basis: 60%;
    padding: 20px 40px;
}

.skill_description {
    display: flex;
    justify-content: space-between;
    /* font-family: 'S-CoreDream-5Medium'; */
    padding-bottom: 0.5%;
}

.skill {
    margin-bottom: 32px;
}

.skill__bar {
    width: 100%;
    height: 4px;
    background-color: var(--color-grey);
}

.skill__value {
    height: 4px;
    background: #eee;
    box-shadow: -3px 0 5px 5px rgba(255, 102, 0, 0.828);
    border-radius: var(--size-border-radius);
}

.skillset__right {
    flex-basis: 40%;
}

.tools {
    height: 50%;
    background-color: rgba(21, 104, 0, 0.5);
}

.etc {
    height: 50%;
    background-color: rgba(0, 2, 119, 0.5);
}

.tools,
.etc {
    padding: 20px;
}

/* Work */

.work__categories {
    margin: 40px;
}

.category__btn {
    font-family: 'S-CoreDream-5Medium';
    color: var(--color-white);
    border: 1px solid var(--color-dark-white);
    border-radius: var(--size-border-radius);
    font-size: var(--font-regular);
    padding: 8px 48px;
    position: relative;
}

.category__btn.selected,
.category__btn:hover {
    background-color: var(--color-orange);
}

.category__btn.selected .category__count,
.category__btn:hover .category__count {
    opacity: 1;
}

.category__count {
    background-color: var(--color-gold);
    border-radius: 50%;
    color: var(--color-white);
    width: 24px;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 16px;
    opacity: 0;
    transition: all var(--animation-duration) ease-out;
}

.work__project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 1;
    transition: all var(--animation-duration) ease-in;
}

.work__project.anim-out {
    opacity: 0;
    transform: scale(0.96) translateY(40px);
}

.project {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 250px;
    margin: 2px;
    background-color: var(--color-light-white);
}

.project.invisible {
    display: none;
}

.project__img {
    max-width: 100%;
    max-height: 100%;
}

.project__description {
    position: absolute;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(15px);
    transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description {
    opacity: 0.8;
    transform: translateY(0px);
}

.project__description h3 {
    color: var(--color-orange);
    font-size: var(--font-medium);
}

.project__description h3::after {
    content: "";
    display: block;
    position: relative;
    left: 50%;
    width: 100px;
    height: 2px;
    transform: translateX(-50%);
    margin-top: 8px;
    background-color: var(--color-dark-white);
}

.project__description span {
    font-family: 'S-CoreDream-5Medium';
}

/* Testimonials */

.testimonials {
    margin: 40px;
}

.testimonial {
    display: flex;
    justify-content: center;
    margin: 32px 0;
}

.testimonial__avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 12px;
}

.testimonial__avatar:nth-child(odd) {
    margin-right: 40px;
}

.testimonial__avatar:nth-child(even) {
    margin-left: 40px;
}

.testimonial__speech-bubble {
    padding: 18px;
    background-color: var(--color-white);
    border-radius: var(--size-border-radius);
}

.testimonial__speech-bubble p {
    color: var(--color-light-grey);
}

.testimonial__speech-bubble p a {
    color: var(--color-blue);
}

/* Contact */
.contact__title,
.contact__email,
.contact__rights {
    color: var(--color-white);
}

.contact__email {
    transition: all var(--animation-duration) ease-in;
}

.contact__email:hover {
    transform: scale(1.1);
    color: var(--color-orange);
}

.contact__title {
    margin: 32px 0;
}

.contact__links {
    font-size: var(--font-large);
    margin: 24px 0;
    transition: all var(--animation-duration) ease-in;
}

.contact__links i:hover {
    transform: scale(1.1);
    color: var(--color-orange);
}

/* top버튼 */
.arrow-up {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 70px;
    height: 70px;
    font-size: 60px;
    transform: rotate(-45deg);
    color: var(--color-white);
    opacity: 0;
    pointer-events: none;
    transition: all 300ms ease-in;
}

.arrow-up:hover {
    color: var(--color-orange);
}

.arrow-up.visible {
    opacity: 1;
    pointer-events: auto;
}

/* 미디워쿼리 */
@media screen and (max-width:768px) {
    :root {
        /* font-size */
        --font-large: 30px;
        --font-medium: 18px;
        --font-regular: 16px;
        --font-small: 14px;
        --font-micro: 12px;
    }


    .navbar__toggle-btn {
        display: block;
        top: 16px;
        right: 16px;
        font-size: var(--font-medium);
    }

    #navbar {
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--color-black);
    }

    #navbar.navbar--dark {
        padding: 16px;
    }

    .navbar__menu {
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;
    }

    .navbar__menu.open {
        display: block;
    }

    .section {
        padding: 66px 16px 16px;
    }

    .about__majors {
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 0;
    }

    .major {
        margin-bottom: 30px;
    }

    .skillset {
        flex-direction: column;
    }

    .category__btn {
        margin: 4px;
        width: 100%;
    }

    .project {
        flex-grow: 1;
    }

    .testimonial {
        flex-direction: column;
        align-items: center;
    }

    .testimonial__avatar {
        width: 120px;
        height: 120px;
    }

    .testimonial__avatar:nth-child(odd),
    .testimonial__avatar:nth-child(even) {
        margin: 0;
        margin-bottom: 8px;
    }

    .testimonial__speech-bubble {
        order: 1;
    }

    .arrow-up {
        width: 50px;
        height: 50px;
        font-size: 50px;
        line-height: 50px;
        right: 16px;
        bottom: 16px;
    }
}